/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-service-item1 {
  background-image: url(img/icon-set.png);
  background-position: -61px 0px;
  width: 61px;
  height: 47px;
}
.icon-service-item2 {
  background-image: url(img/icon-set.png);
  background-position: 0px 0px;
  width: 61px;
  height: 54px;
}
.icon-service-item3 {
  background-image: url(img/icon-set.png);
  background-position: 0px -54px;
  width: 61px;
  height: 47px;
}
.icon-service-item4 {
  background-image: url(img/icon-set.png);
  background-position: -61px -54px;
  width: 59px;
  height: 43px;
}
