extends template
include includes/mixins.jade
block main
	.inner-page
		.container
			.header-block
				h2 Продукция
				.breadcumbs
					ul
						li: a(href="") Главная
						li.active: a(href="") Продукция
			// ------- Продукция ------- 
		.inner-page__content.nopadding
			.products__wrap
				.container
					.products-desc Компрессоры Gardner Denver новые
					.products-list
						+productItem(
									'pic/product1.jpg',
									'DRUM XK12',
									'Компрессор',
									'new'
									)
						+productItem(
									'pic/product2.jpg',
									'ХК12 с электродвигателем ',
									'Компрессор',
									'new'
									)
						+productItem(
									'pic/product1.jpg',
									'DRUM XK18',
									'Компрессор'
									)
						+productItem(
									'pic/product3.jpg',
									'Bulkline 650/1000',
									'Компрессор'
									)
						+productItem(
									'pic/product4.jpg',
									'ХК12 с дизельным двигателем',
									'Компрессор',
									'new'
									)
						+productItem(
									'pic/product5.jpg',
									'ХК12 с электродвигателем ',
									'Компрессор'
									)
						+productItem(
									'pic/product6.jpg',
									'DRUM XK18',
									'Компрессор',
									'new'
									)
						+productItem(
									'pic/product7.jpg',
									'Bulkline 650/1000',
									'Компрессор'
									)



			.products__wrap.product-carousel-col2
				.container
					.products-desc Компрессоры винтовые б/у
					.products-list
						+productItem(
									'pic/product1.jpg',
									'DRUM XK12',
									'Компрессор ХК-12 – стационарный, одноступенчатый безмасляный винтовой компрессор низкого давления...'
									)
						+productItem(
									'pic/product8.jpg',
									'DRUM XK12',
									'Компрессор ХК-12 – стационарный, одноступенчатый безмасляный винтовой компрессор низкого давления...'
									)
						+productItem(
									'pic/product1.jpg',
									'DRUM XK12',
									'Компрессор ХК-12 – стационарный, одноступенчатый безмасляный винтовой компрессор низкого давления...'
									)
						+productItem(
									'pic/product8.jpg',
									'DRUM XK12',
									'Компрессор ХК-12 – стационарный, одноступенчатый безмасляный винтовой компрессор низкого давления...'
									)
			.products__wrap.product-carousel-col4
				.container
					.products-desc Комплектующие
					.products-list
						+productItem(
									'pic/product-k1.jpg',
									'DRUM XK12',
									'Компрессор',
									'new'
									)
						+productItem(
									'pic/product-k2.jpg',
									'ХК12 с электродвигателем ',
									'Компрессор',
									'new'
									)
						+productItem(
									'pic/product-k3.jpg',
									'DRUM XK18',
									'Компрессор'
									)
						+productItem(
									'pic/product-k4.jpg',
									'Bulkline 650/1000',
									'Компрессор'
									)
						+productItem(
									'pic/product3.jpg',
									'ХК12 с дизельным двигателем',
									'Компрессор',
									'new'
									)
						+productItem(
									'pic/product2.jpg',
									'ХК12 с электродвигателем ',
									'Компрессор'
									)
						+productItem(
									'pic/product4.jpg',
									'DRUM XK18',
									'Компрессор',
									'new'
									)
						+productItem(
									'pic/product2.jpg',
									'Bulkline 650/1000',
									'Компрессор'
									)
			// ----- Продукция конец ----- 
