extends template
include includes/mixins.jade
block main
	.inner-page
		.container
			.header-block
				h2 Новости 
				.breadcumbs
					ul
						li: a(href="") Главная
						li.active: a(href="") Новости
			.inner-page__content.nopadding
				.news-block
					-for(var i = 1; i <=6; i++)
						if i==2
							+newsItem(
								'В феврале 2016 года представители компании «Gardner Denver» посетили станцию технического обслуживания «СПЕЦТЕХНИКА»',
								'В рамках встречи обсуждались вопросы продвижения продукции Gardner Denver на территории РФ, так же визитеры оценили наличие внушительного перечня продукции Gardner Denver на складе СТО СПЕЦТЕХНИКА и уровень выполнения ремонтных работ специалистами СТО СПЕЦТЕХНИКА»',
								'img/inner-news1.jpg',
								'inner'
								)
						if i==3
							+newsItem(
								'В адрес ООО «Белая Птица — Ростов» поставлены 4ре станции с электроприводом на базе компрессорных агрегатов Gardner Denver XK12.',
								'Это уже не первые станции поставленные в адрес вышеназванного холдинга за 2015 год, клиент оценил качество продукции и продолжил уверенную закупку.',
								'',
								'inner'
								)
						+newsItem(
								'В продажу поступил новый компрессорный агрегат марки Gardner Denver',
								'В продажу поступил новый компрессорный агрегат марки Gardner Denver модель T5CDL12L72 в оригинальном звукопоглощающем коробе от Welgro. Так же пополнился весь модельный ряд компрессоров Gardner Denver',
								'img/inner-news1.jpg',
								'inner',
								'img/inner-news2.jpg'
								)
				
			
