extends template
include includes/mixins.jade
block main
	.inner-page
		.container
			.header-block
				h2 Контакты 
				.breadcumbs
					ul
						li: a(href="") Главная
						li.active: a(href="") Контакты
		.inner-page__content
			.container.card
				.card__row.row
					.col-xs-6
						.card__image.left
							img(src="img/card1.jpg", alt="")
					.col-xs-6
						.card__text.right
							.card__name DRUM XK12
							p Компрессор ХК-12 – стационарный, одноступенчатый безмасляный винтовой компрессор низкого давления, до 2.5 атм. Компрессор смонтирован на собственной силовой раме и оснащен всеми соединительными трубопроводами и патрубками. Предназначен для безмасляного сжатия воздуха, который используется в пневмотранспортных установках для перемещения сыпучих порошковых материалов (мука, сахарный песок, соль, химические грануляты, цемент, известь, измельченная порода и т.д.).
					.card__row.row
						.col-xs-6
							.card__image.right
								img(src="img/card2.jpg", alt="")
						.col-xs-6
							.card__text.left
								.card__name DRUM XK12
								p Компрессор ХК-12 – стационарный, одноступенчатый безмасляный винтовой компрессор низкого давления, до 2.5 атм. Компрессор смонтирован на собственной силовой раме и оснащен всеми соединительными трубопроводами и патрубками. Предназначен для безмасляного сжатия воздуха, который используется в пневмотранспортных установках для перемещения сыпучих порошковых материалов (мука, сахарный песок, соль, химические грануляты, цемент, известь, измельченная порода и т.д.).
					.card__row.row
						.col-xs-6
							.card__image.left
								img(src="img/card3.jpg", alt="")
						.col-xs-6
							.card__text.right
								.card__name DRUM XK12
								p Компрессор ХК-12 – стационарный, одноступенчатый безмасляный винтовой компрессор низкого давления, до 2.5 атм. Компрессор смонтирован на собственной силовой раме и оснащен всеми соединительными трубопроводами и патрубками. Предназначен для безмасляного сжатия воздуха, который используется в пневмотранспортных установках для перемещения сыпучих порошковых материалов (мука, сахарный песок, соль, химические грануляты, цемент, известь, измельченная порода и т.д.).