//+------- Шапка -------+
.main-header
	.header-top
		.container
			ul.top-menu
				li: a(href="#") Главная
				li: a(href="#") Продукция
				li: a(href="#") Новости
				li: a(href="#") Контакты
				li: a(href="#") Лизинг
				li: a(href="#") Услуги
	.header-middle
		.container
			a(href="#").logo
				.logo-image
					img(src="img/logo.png", alt="СпецТехника")
				.logo-text
					span Компрессоры Gardner Denver<br/>от официального дилера
			.header-phones
				.ico
				.header-phones__list
					li.header-phones__item (4832) 92 17 45
					li.header-phones__item (4832) 92 22 54
					li.header-phones__item +7-903-818-05-70
					li.header-phones__item +7-961-001-51-51
	.container
		h2.big
			|Компрессорное оборудование Gardner Denver <span class="nols">лучший выбор для вашего производства</span>
			span.header-desc Используем только оригинальные запчасти и комплектующие!
//+----- Шапка конец -----+